<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      partial: "api/users/user", 
      locals: { user: current_user },
      formats: [:json],
      handlers: [:jbuilder]
    ).html_safe %></script>
<% end %>
<div id="root">React is not working</div>