.dashboard-test {
  padding-top: 10%;
}

.all-news h2 {
  padding: 20px 0 10px;
  font-size: 24px;
  font-weight: 700;
}

.watchlist-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.watchlist {
  border: 1px solid #1b1b1d;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 23px -16px rgba(255, 255, 255,0.72);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 220px;
  position: fixed;
}

.news-button-container {
  display: flex;
  justify-content: center;
}

.news-button {
  margin: 5px;
  padding: 5px;
  background-color: #f35531;
  border: none;
}

.news-button:focus {
  outline: none;
}

.news-button:hover {
  background-color: #ef441d;
}

.watchlist-graph-container {
  width: 85px;
  height: 75px;
}

.watchlist-link {
  color: white
}

.watchlist-link:hover {
  cursor: pointer;
  color: #ef441d;
  text-decoration: none;
  background-color: white;
}

.watchlist-graph-container .graph-price, .watchlist-graph-container .graph-change-info, .watchlist-graph-container .graph-tooltip {
  display: none;
}

.watchlist-full-list {
  overflow: scroll;
}

.portfolio-range {
  margin-top: 68px;
}

.watchlist-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.watchlist-ticker, .watchlist-price {
  font-size: 11px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.watchlist-ticker {
  padding-right: 7px;
}

.watchlist-graph-container .recharts-surface {
  stroke-width: 0;
}

.watchlist-graph-container .recharts-tooltip-cusor {
  width: 0px;
}

.watchlist-graph-container path {
  stroke-width: 0.75px;
}