body {
  font-family: 'Big Shoulders Display', cursive;
  letter-spacing: 1.2px;
  font-weight: 400px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #20ce9a;
  text-decoration: underline;
}