.navbar {
  height: 72px;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  letter-spacing: 1.25px;
  top: 0;
  flex-direction: row;
  background-color: white;
  z-index: 100;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7.5%;
}

.navbar-logo {
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #20ce9a;
}

.navbar-logo:hover {
  text-decoration: none;
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 5%;
  line-height: 3;
}

.navbar-buttons {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  width: 70%;
  margin: 0% 5%;
}

.navbar-links {
  display: flex;
  margin-right: 15%;
}


.navbar-links a, .navbar-session-buttons a {
  margin: 0 15px;
  font-weight: 900;
}

.signup-button {
  border: 1px solid #20ce9a;
  background: #20ce9a;
  padding: 10px 15px;
  border-radius: 36px;
  color: white;
}

.signup-button:hover {
  color: white;
}

.logo-image {
  width: 25px;
  height: 35px;
  padding-top: 8px;  
}

.logged-in-links {
  margin-right: 0;
  font-size: 12px;
  margin-top: 1%;
}

.logged-in-links a {
  text-decoration: none;  
}

.logged-in-links a:hover {
  color: #f45531;
}

.search-bar-false {
  display: none;
}