.search-barz {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.search-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border: 1px solid rgb(235, 235, 235);
   border-radius: 3px;
   padding: 3px;
   margin: 2.5% 2%;
   position: relative;
   background: #ffffff;
   width: 500px;
}
.search-container > i {
   color: #999999;
   font-size: 10px;
   padding: 5px;
   padding-right: 8px;
}
.search-container > input {
   border: none;
   font-size: 14px;
   width: 100%;
   font-weight: 300;
   background-color: #ffffff;
}
.search-container > input:focus {
   outline: none;
   box-shadow: none;
}
.search-container > img {
   height: 13px;
   width: 18px;
   cursor: pointer;
}

.search-results {
   position: absolute;
   top: 25px;
   z-index: 6;
   background: white;
   width: 100%;
   overflow: scroll;
   border-radius: 3px;
   box-shadow: 0px 0px 23px -16px rgba(0,0,0,0.72);
   border: 1px solid rgb(235, 235, 235);
   transition: height 0.2s ease-in-out;
}

.search-results {
   border-top: none; 
}

.search-item {
   height: 60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid rgb(235, 235, 235);
}

.search-container > p {
   font-size: 14px;
   font-weight: 600;
   padding-left: 10px;
}

.filtered-search {
   font-size: 10px;
   display: flex;
   justify-content: space-between;
}

.search-symbol {
   width: 25%;
   padding-left: 20px;
}

.search-name {
   width: 75%;
}

.search-list a {
   display: contents;
   text-decoration: none;
   font-weight: 700;
}

.search-list a:hover {
   background-color: lightgray;
}

.no-results {
   display: hidden;
}