body {
  position: relative;
}



.signup-header {
  font-size: 45px;
  padding-bottom: 15px;
  width: 150%;
}

.signup-sub-header {
  font-size: 25px;
  padding-bottom: 10px;
  width: 150%
}

 .signup-form {
  display: flex;
  flex-direction: column;
  padding-top: 8%; 
  margin-left: 15%; 

} 

.name {
  display: flex;
  flex-direction: row;
  width: 111%;
  justify-content: space-between;
}

.signup-form .form-group input {
  width: 120%;
  height: 20px;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  z-index: 0;
  position: relative;
  padding: 10px 10px;
}

.name input {
  min-width: 190px;
  padding: 5px 10px;
}

.signup-form .form-group input:focus, .name input:focus {
  outline: none;
  border: 1px solid #20ce9a;
  background-color: #ffffff; 
}


.continue-button {
  width: 50%;
  max-width: none;
  min-width: none;
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
}

.continue-button:focus {
  outline: none;
}


.error-msg-false {
  display: none;
}

.error-msg-true {
  margin-left: 2%;
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  
}

.error-true {
  border: 1px solid red !important;
  color: red;
}

.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4%;
}

.form-container {
  width: 40%;
}

.video-container {
  display: flex;
  width: 40%;
}

.signup-gif {
  width: 50%;
  /* border: 1px solid white; */
}

.second-form-group {
  padding-bottom: 4%;
  
}

.second-form-group input {
  width: 50%;
  height: 20px;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  z-index: 0;
  position: relative;
  padding: 10px 10px;
}

.signup-header-email {
  color: #20ce9a;
}

.second-form-group input:focus {
  outline: none;
  border: 1px solid #20ce9a;
}

.signup-button:hover {
  cursor: pointer;
}

.submit-info-header {
  padding-bottom: 4% 0 5%;
}

.all-info {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
}

.account-info, .basic-info, .fund-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 55%;
  padding-bottom: 3%;
}

.button-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.navbar-container {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.signup-nav {
  display: flex;
  flex-direction: column;
}

.progress-items {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.progress-items p {
  display: flex;
  margin: 20px 70px 10px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.progress-bar {
  position: relative;
  height: 3px;
  width: 800px;
  border-radius: 20px;
  border: none;
  background-color: lightgray;
  margin-left: 5%;
}

.filler {
  background: #20ce9a;
  height: 100%;
  border-radius: inherit;
  transition: width .5s ease-in;
}

.active-true {
  font: black;
  opacity: none;
}

.active-false {
  opacity: 0.3;
}

.second-step, .third-step {
  padding-top: 4%;
}

.prev-button {
  margin-top: 0;
  padding: 10px 5px;
  max-height: 35px;
}

.signup-submit-button {
  margin-top: 0;
}