.retirement-section {
  height: 704px;
  position: relative;
}

.retirement-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.retirement-text {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensures the text is on top of the video */
  text-align: center;
  color: #fff;
  height: 100%;
}

.retirement-text-separator {
  width: 100%;
  height: 32px;
}

.retirement-headline {
  width: 1030px;
  color: #9e8b55;
}

.retirement-disclosure {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 19px;
  margin: 0;
  font-style: normal;
  color: #BFBFBF;
}

.retirement-get-started {
  border: 1px solid white;
  border-radius: 36px;
  padding: 0px 24px;
  background-color: white;
  height: 44px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.retirement-get-started:hover {
  background-color: #e3e3e3;
}

@media (max-width: 1040px) {
  .retirement-headline {
      font-size: 98px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 102px;
  }
}

@media (min-width: 1040px) {
  .retirement-headline {
      font-size: 132px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 143px;
  }
}

@media (max-width: 770px) {
  .retirement-text {
    width: 90%;
    top: 65%;
    align-items: center;
    text-align: center;
  }

  .retirement-section {
    height: 745px;
    position: relative;
  }

  .retirement-headline {
    font-size: 83px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 102px;
    display: inline;
  }
}

@media (max-width: 420px) {
  .retirement-section {
    height: 645px;
    position: relative;
  }

  .retirement-text {
    top: 63%;
  }

  .retirement-headline {
    font-size: 58px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 63px;
  }

  .retirement-disclosure {
    white-space: unset;
  }
}

@media (max-width: 265px) {
  .retirement-headline {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 50px;
  }
}