.show-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10% 15% 0 15%;
}
.company-header h1 {
  font-size: 32px;
  font-weight: 600;
}

.stock-show-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.graph-price {
  margin: 5px 0;
  font-size: 32px;
}

.range-buttons {
  padding: 10px 0 0;
} 

.range-buttons input {
  border: none;
  font-size: 16px;
  padding: 2px 5px 8px 5px;;
  margin: 0px 5px;
  cursor: pointer;
  background-color: #1b1b1d;
  color: white;
}

.range-buttons input:focus {
  outline: none;
}

.button-active-true {
  border-bottom: 2px solid #f45531 !important;
}

.button-active-false {
  border: none
}

.stock-info h2 {
  padding: 20px 0 10px;
  font-size: 24px;
  font-weight: 700;
}

hr {
  opacity: 0.3;
  margin: 0 0 30px;
}

.stock-description {
  line-height: 1.5;
}

.info-subsets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 90px;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-row div {
  width: 15%;
}

.info-subsets div {
  padding: 7px 0 5px 0;
  font-size: 14px;
  overflow: unset;
  white-space: nowrap;
}

.info-subheader {
  font-weight: bold;
  font-size: 12px;
}

.transaction-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.transaction-form {
  border: 1px solid #1b1b1d;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 23px -16px rgba(255, 255, 255,0.72);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  position: fixed;
}

.graph-tooltip {
  font-size: 12px;
  opacity: 0.6;
}

.dotted-graph-line {
  background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
  /* background-position: left; */
  background-size: 1px 10px;
  background-repeat: repeat-y;
  width: 1000px;
}

.transaction-form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  font-size: 13px;
}

.transaction-input {
  width: 25%;
  border: none;
  border-radius: 3px;
  background-color: #171718;
  border-color: #171718; 
  padding: 4px;
}


.transaction-input:focus {
  border: 1px solid #f45531;
  outline: none;
}

.transaction-break {
  margin: 5px 0;
}

.transaction-submit {
  max-width: none;
  margin-top: 0;
  background-color: #f45531;
  width: 100%;
  padding: 20px !important;
  border: none;
}

.transaction-submit:focus {
  outline: none;
}

.transaction-submit:hover {
  background-color: #ea674a;
}

.buying-power {
  font-size: 12px;
  color: #f45531;
  text-align: center;
  padding-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
}

.news-link {
  color: white;
  /* text-decoration: none; */
}

.news-link:hover {
  text-decoration: none;
  color: #f45531;
}

.news-item {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 20px 0;
}

.news-source {
  font-size: 10px;
}

.news-title {
  font-weight: 700;
  width: 70%;
  padding-top: 10px;
}

.news-image-container {
  width: 400px;
  flex-direction: column;
  display: grid;
  justify-content: right;
}

.news-pic {
  width: auto;
  max-height: 125px;
}

.graph-change-info {
  display: flex;
  font-size: 12px;
  padding-bottom: 5px;
}

.stock-show-graph, .graph-container {
  width: 100%;
  height: 300px;
}

.graph-line {
  opacity: none;
  margin: 68px 0 0;
  border: none;
  border-top: 1.2px dotted #ffffff;
  height: 1px;
  width: 100%;
}

.watchlist-button {
  border: 1px solid #f35531;
  background-color: transparent;
  color: #f35531;
  width: 105%;
  margin: 0;
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
  font-size: 12px;
}

.watchlist-button:hover {
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
}